{% block body_text %}

{% endblock %}

{% block content %}

    <!-- Spacing -->

    <tr>
        <td width="100%" height="10" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
        </td>
    </tr>
    <tr>
        <td style="font-family: arial; font-size: 12px; color: rgb(102, 102, 102); text-align: left; line-height: 20px; position: relative;" class="mce-content-body">
            <span style="font-size: 14px; line-height: 19.6000003814697px; ">
                <span style="font-size: 18px; margin-bottom: 12px;margin-top: 10px;display: block;">Dados do contato:</span>

                <div style="
    display: block;
    padding: 15px;
    border: 1px solid #C5C5C5;
    padding-bottom: 2px;
    margin-top: 15px;
    border-radius: 5px;

">

                    <span id="answer" style="padding-bottom: 6px; line-height: 1.5;font-size: 16px;/* margin-left: 10px; */display: block;"><b>Nome:</b> {{ contato_nome |capitalize }}</span>
					
                    <span id="answer" style="padding-bottom: 6px; line-height: 1.5;font-size: 16px;/* margin-left: 10px; */display: block;"><b>Telefone:</b> {{ contato_telefone |capitalize }}</span>	

                    <span id="answer" style="padding-bottom: 6px; line-height: 1.5;font-size: 16px;/* margin-left: 10px; */display: block;"><b>Email:</b> {{ contato_email |capitalize }}</span>	
					
                    <span id="answer" style="padding-bottom: 6px; line-height: 1.5;font-size: 16px;/* margin-left: 10px; */display: block;"><b>Assunto:</b> {{ contato_assunto |capitalize }}</span>		

                    <span id="answer" style="padding-bottom: 6px; line-height: 1.5;font-size: 16px;/* margin-left: 10px; */display: block;"><b>Comentários:</b> {{ contato_comentarios |capitalize }}</span>						

                </div>

            </span>
        </td>
    </tr>
    <!-- end of content -->



{% endblock %}